<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.App"
        tools:targetApi="31">

        <!--splash-->
        <activity
            android:name=".Splash"
            android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <!--login-->
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="@string/login_page"
            android:theme="@style/Theme.App.NoActionBar">
        </activity>

        <!--signup (if not registered)-->
        <activity
            android:name=".SignUpActivity"
            android:exported="false"
            android:label="@string/signup_page"
            android:theme="@style/Theme.App.NoActionBar"/>

        <!--main page (after login)-->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.App.NoActionBar">
        </activity>

        <!--skill detail page-->
        <activity
            android:name=".ui.skill.SkillDetail"
            android:exported="true"
            android:label="@string/app_name"/>
    </application>

</manifest>